body{
    background-image: url(/Image/Comm.jpg);
    background-size: cover;   
}
img{
    margin-top: 250px;
    width: 300px;
    box-shadow: -3px -3px 12px gold;
    border-radius: 8px;
    transition: 1s;
}
.content{
    display: flex;
}

.short{
    margin-top: 210px;
    margin-left: 270px;
}

img:hover{
    box-shadow: 0px 8px 30px rgba(214, 212, 212, 0.8);
   
}
h2{
    color: gold; 
    font-family: serif;
    font-weight: lighter;
    font-style: italic;
    font-variant: small-caps;
    font-size: 35px;
}

h2:hover{
    text-shadow: 2px 2px 8px pink;
}

p{
    color: gold;
    margin-left: -140px;
    width: 80%;
    font-size: 17px;
    font-family: serif;
    font-weight: lighter;
    font-style: italic;
}
p:hover{
    text-shadow: 2px 2px 8px lightcyan;
}

a{
    color: gold;
    text-decoration: none;
    border: solid;
    border-width: thin;
    padding: 4px;
    border-radius: 8px;
    margin-left: 85px;
    margin-top: 20px;
}

a:hover{
    background-color: darkgrey;
    box-shadow: 2px 2px 8px lightgray;
    
}
